
<button (click) = "removeImages = !removeImages" >     {{removeImages ? "Remove Images" : "Add Images" }}
</button>
<button (click) = "changeSize()">Change size</button>
<ng-container *ngIf="removeImages">
<img  *ngFor="let image of images" src="{{image}}" [ngClass] = "currentSize">
</ng-container>
